body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 300px;
    background: rgb(91, 27, 55);
    background: linear-gradient(90deg, rgba(91, 27, 55, 1) 0%, rgba(25, 30, 35, 1) 100%);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.display {
    text-align: right;
    margin-bottom: 10px;
}

.display input {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 1.5rem;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.buttons button {
    padding: 15px;
    font-size: 1.2rem;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons .github {
    grid-column: 2/5;
    cursor: pointer;
    padding: 15px;
    background-color: #f0f0f0;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: black;
}

.buttons .github:hover{
    background-color: #e0e0e0;
}


.buttons button:hover {
    background-color: #e0e0e0;
}